extends ../../layouts/base-layout
include ../../components/card-selected-room/card-selected-room
include ../../components/room-details/room-details
include ../../components/diagram/diagram
include ../../components/comment/comment
include ../../components/bullet-list/bullet-list

block head
  -const title = 'Room details'

block content
  - const { selectedRoomData } = require('../../props/other');
  - const { propsRoomDetailsSelectedRoom } = require('../../props/card-props');

  .room-details-page

    .room-details-page__wrapper.room-details-page__wrapper--with-gallery
      .room-details-page__room-images
        a(href="img/rooms/room-2-fullscreen.jpg" data-fancybox="gallery" data-caption="Optional caption").room-details-page__img-link
          img(src="img/rooms/room-2-fullscreen.jpg").room-details-page__room-img
        a(href="img/rooms/room-2-details-2.jpg" data-fancybox="gallery" data-caption="Optional caption").room-details-page__img-link
          img(src="img/rooms/room-2-details-2.jpg").room-details-page__room-img
        a(href="img/rooms/room-2-details-1.jpg" data-fancybox="gallery" data-caption="Optional caption").room-details-page__img-link
          img(src="img/rooms/room-2-details-1.jpg").room-details-page__room-img

    .room-details-page__wrapper.room-details-page__wrapper--with-room-info
      .room-details-page__wrapper.room-details-page__wrapper--with-details

        .room-details-page__details-item.room-details-page__details-item--with-room-card
          +card-selected-room(propsRoomDetailsSelectedRoom)

        .room-details-page__details-item.room-details-page__details-item--with-details
          +title({text: 'Сведения о номере', level: 2})
          .room-details-page__room-details
            +room-details({items: selectedRoomData.details})
        .room-details-page__details-item.room-details-page__details-item--with-diagram
          +title({text: 'Впечатления от номера', level: 2})
          .room-details-page__diagram
            +diagram({items: selectedRoomData.votes})
        .room-details-page__details-item.room-details-page__details-item--with-comments
          +title({text: 'Отзывы посетителей номера', level: 2})
          .room-details-page__comments
            for comment in selectedRoomData.comments
              +comment(comment)
        .room-details-page__details-item.room-details-page__details-item--with-rules
          .room-details-page__rules-title-wrapper
            +title({text: 'Правила', level: 2})
          .room-details-page__bullet-list
            +bullet-list({items: selectedRoomData.rules})
        .room-details-page__details-item.room-details-page__details-item--with-cancel
          +title({text: 'Отмена', level: 2})
          .room-details-page__cancel-text= selectedRoomData.cancelRule








