mixin support(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-support-info
    .footer__grid-title
      span Служба поддержки
    ul.footer__link-list
      li.footer__link-item Соглашения
      li.footer__link-item Сообщества
      li.footer__link-item Связь с нами
