mixin support(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-support-info
    .footer__grid-title
      span Служба поддержки
    ul.footer__link-list
      li.footer__link-item
        a(href='/404.html').footer__link Соглашения
      li.footer__link-item
        a(href='/404.html').footer__link Сообщества
      li.footer__link-item
        a(href='/404.html').footer__link Связь с нами
