mixin pagination(props={})
  - const {totalPages=25, visiblePages=5, description=false} = props

  .pagination(data-totalPages=totalPages)
    .pagination__wrapper
    if (description)
      .pagination__description= description