mixin checkbox-expandable-list(props={})
  - const { title = '', open = false } = props

  .checkbox-expandable-list
    details.checkbox-expandable-list__details(open=open)
      summary.checkbox-expandable-list__summary= title
        span.checkbox-expandable-list__icon expand_more
      .checkbox-expandable-list__body
        block