@import '../../styles/variables.scss';

.checkbox-expandable-list {

  &__body {
    margin-top: 3px;
  }

  &__details[open] &__icon {
    transform: rotate(180deg);
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
  }

  &__icon {
    text-transform: none;
    padding: 10px;
    line-height: 100%;
    font-size: 24px;
    font-family: $font-MaterialIcon;
  }

  &__checkbox-container {
    padding: 0;
    margin-top: 4px;
    text-decoration: none;
  }
}