include ../form-item-container/form-item-container
mixin input(props = {})
  -
    const {
      placeholder = '',
      readonly = false,
      defaultValue = '',
      mask = false,
      icon = '',
      hovered = false,
      iconType = 'icon',
      href = false,
    } = props
  -
    const wrapperCLassObj = {
      'input': true,
      'js-input': true,
      'js-input-withIcon': icon,
      'js-input-withMask': mask,
      'js-input-withSubmit': icon && iconType === 'submit',
      'js-input-withLink': icon && iconType === 'link',
      'js-input-withBaseIcon': icon && iconType === 'icon',
    }
    const inputClassObj = {
      'input__input': true,
      'input__input--hovered': hovered,
      'input__input--with-icon': icon,
      'input__input--readonly': readonly,
      'input__input--masked': mask,
      'js-maskedInput': mask,
      'js-inputElement': true,
    }
    const inputAttributesObj = {
      'readonly': readonly,
      'placeholder': placeholder,
      'value': defaultValue,
      'mask': mask,
      ...attributes
    }

  div(class = wrapperCLassObj)
    .input__container
      if (icon && iconType === 'submit')
        button(type='submit').input__button.js-formInput-iconNode= icon
      if (icon && iconType === 'link')
        a(href = href).input__icon.js-formInput-iconNode= icon
      if (icon && iconType === 'icon')
        span.input__icon.js-formInput-iconNode= icon
      input(class = inputClassObj)&attributes(inputAttributesObj)




