@import '../../styles/variables.scss';

.rate-button {

  &__input {
    display: none;
  }

  &__body {
    display: flex;
    flex-direction: row;
    min-height: 24px;
  }

  &__star {

    font-family: $font-MaterialIcon;
    background: $gradient-primary-default;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 24px;
    font-size: 24px;
    cursor: pointer;
  }
}