@import "../../styles/_main.scss";



.sign-in-page{
  width: 100%;
  min-width: $container-min-width;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/rooms/room-3-fullscreen.jpg");

  &__container {
    height: 100%;
    margin: 0 auto;
    padding: 0 $container-default-padding;
    max-width: $container-max-width;
  }

  &__content {
    padding: 163px 0 163px 0;
    box-sizing: border-box;
  }

  &__card-container {
    margin: 0 auto;
    max-width: 380px;
    height: 358px;
  }
}

@media screen and (max-width: 420px) {
  .sign-in-page__container {
    padding: 0 $container-padding-mini;
  }

  .header__wrapper {
    padding: 0 $container-padding-mini;
  }
}