.like-button{
  padding: 0;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid $text-dark-25;
  box-sizing: border-box;
  cursor: pointer;

  &--liked{
    border: 1px solid $text-purple;
    .like-button__icon, .like-button__count{
      color: $text-purple;
    }
    .like-button__icon:before{
      content: 'favorite';
      color: $text-purple;
    }
  }
  &--hovered,
  &:hover{
    border: 1px solid $text-purple;
    .like-button__icon, .like-button__count{
      color: $text-purple;
    }
    .like-button__icon:before{
      color: $text-purple;
    }
  }

  &__container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 18px 1fr;
  }
  &__icon{
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before{
      content: 'favorite_border';
      font-size: 10px;
      line-height: 8.5px;
      color: $text-dark-25;
      font-family: $font-MaterialIcon;
    }
  }

  &__count{
    min-width: 17px;
    display: flex;
    align-items: center;


    font-family: $font-Montserrat;
    font-size: 10px;
    line-height: 12.19px;
    color: $text-dark-25;
  }
}