@import '../../styles/variables.scss';

.diagram {
  display: flex;
  align-items: flex-end;
  position: relative;

  &__pie{
    max-width: 125px;
    max-height: 125px;
  }

  &__legend{
    margin-left: 22px;
  }

  &__legend-item{
    display: flex;
    align-items: center;
  }

  &__ellipse{
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
  }
}