extends ../../layouts/base-layout
include ../../components/title/title
include ../../components/input/input
include ../../components/date-dropdown/date-dropdown
include ../../components/guests-dropdown/guests-dropdown
include ../../components/rooms-dropdown/rooms-dropdown
include ../../components/form-item-container/form-item-container
include ../../components/slider/slider
include ../../components/checkbox/checkbox
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/card-room/card-room
include ../../components/pagination/pagination


block head
  - const title = 'Search room'

block content
  .search-room-page
    .search-room-page__blur-container.js-blur
    button.search-room-page__show-filter-button.js-show-filter
      .search-room-page__bth-flex-container
        .search-room-page__btn-arrow arrow_forward
        .search-room-page__btn-text Открыть фильтр
        .search-room-page__btn-arrow arrow_forward

    .search-room-page__container
      .search-room-page__content
        .search-room-page__grid-container
          .search-room-page__grid-item
            .search-room-page__filter.js-filter

              .search-room-page__form-section.search-room-page__form-section--with-date-dropdown
                - const {propsSearchRoomDateDropdown} = require('../../props/dropdowns-props')
                +date-dropdown(propsSearchRoomDateDropdown)
                  +form-item-container({title: 'даты пребывания в отеле'})
                    +input({placeholder: "ДД МММ - ДД МММ", icon: "expand_more"})

              .search-room-page__form-section.search-room-page__form-section--with-guest-dropdown
                - const {propsSearchRoomGuestDropdownItems, propsSearchRoomGuestDropdownTemplate} = require('../../props/dropdowns-props')
                +guest-dropdown({items: propsSearchRoomGuestDropdownItems, template: propsSearchRoomGuestDropdownTemplate})
                  +form-item-container({title: 'гости'})
                    +input({placeholder: "Сколько гостей", icon: "expand_more", readonly: true})

              .search-room-page__form-section.search-room-page__form-section--with-slider
                +form-item-container({title: "диапазон цены", subtitle: "5 000₽ - 10 000₽"})
                  .search-room-page__form-element.search-room-page__form-element--slider
                    +slider({min: 5000, max: 10000})
                  .search-room-page__form-element.search-room-page__form-element--slider-subtitle
                    span Стоимость за сутки пребывания в номере

              .search-room-page__form-section.search-room-page__form-section--with-home-rules
                +form-item-container({title: "правила дома"})
                  .search-room-page__form-element.search-room-page__form-element--home-rules
                    +checkbox({title: "Можно курить"})
                    +checkbox({title: "Можно с питомцами"})
                    +checkbox({title: "Можно пригласить гостей (до 10 человек)"})

              .search-room-page__form-section.search-room-page__form-section--with-accessibility
                +form-item-container({title: "доступность"})
                  .search-room-page__form-element.search-room-page__form-element--accessibility
                    +checkbox({title: "Широкий коридор", boldTitle: true, description: "Ширина коридоров в номере не менее 91 см."})
                    +checkbox({title: "Помощник для инвалидов", boldTitle: true, description: "На 1 этаже вас встретит специалист и проводит до номера."})

              .search-room-page__form-section.search-room-page__form-section--with-rooms-dropdown
                - const {propsSearchRoomRoomsDropdownItems, propsSearchRoomRoomsDropdownTemplate} = require('../../props/dropdowns-props')
                +rooms-dropdown({items: propsSearchRoomRoomsDropdownItems, template: propsSearchRoomRoomsDropdownTemplate})
                  +form-item-container({title: 'удобства номера'})
                    +input({placeholder: "Удобства в номере", icon: "expand_more", readonly: true})

              .search-room-page__form-section.search-room-page__form-section--with-additional
                +checkbox-expandable-list({title: 'дополнительные удобства'})
                  +checkbox({title: 'Завтрак'})
                  +checkbox({title: 'Письменный стол'})
                  +checkbox({title: 'Стул для кормления'})
                  +checkbox({title: 'Кроватка'})
                  +checkbox({title: 'Телевизор'})
                  +checkbox({title: 'Шампунь'})
                  +checkbox({title: 'Телевизор'})
                  +checkbox({title: 'Шампунь'})
          .search-room-page__grid-item
            .search-room-page__title
              +title({text: 'Номера, которые мы для вас подобрали', level: 1})
            .search-room-page__rooms-container
              - const {propsSearchRoomRoomCardsArray} = require('../../props/card-props');
              for room in propsSearchRoomRoomCardsArray
                .search-room-page__single-room.js-single-room-card
                  +card-room(room)
            .search-room-page__pagination
              +pagination({totalPages: 15, visiblePages: 5, description: "1 – 12 из 100+ вариантов аренды"})




