mixin toggle-button(props={})
  -
    const {checked=false, title=false} = props


  .toggle-button
    label.toggle-button__label
      input.toggle-button__checkbox(type="checkbox" checked=checked)
      span.toggle-button__toggle
      if (title)
        span.toggle-button__title= title
