@import '../../styles/variables.scss';

body .dropdown-date {

  &__calendar {
    width: 100%;
    position: absolute;
    margin-top: 5px;

    &--hidden {
      display: none;
    }
  }

  &__button {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: $font-Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-purple;
    font-size: 12px;

    &:hover{
      color: $text-purple;
      background-color: transparent;
    }
  }
}


