.card--selected-room{
  .card{

    &__room-info{
      padding: 20px;
    }
    &__title{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__room-number-container{

    }
    &__room-price-container{

    }

    &__room-number{
      display: inline-block;
      font-family: $font-Montserrat-Bold;
      font-size: 24px;
      line-height: 29.26px;

      &:first-letter{
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: 4px;
      }
    }
    &__room-type{
      display: inline-block;
      margin-left: 8px;
      font-family: $font-Montserrat-Bold;
      font-size: 12px;
      line-height: 14.63px;
      color: $text-purple;
      text-transform: uppercase;
    }

    &__price-sum{
      font-family: $font-Montserrat-Bold;
      font-size: 14px;
      line-height: 18px;
      color: $text-dark-50;
    }
    &__price-text{
      font-family: $font-Montserrat-Default;
      font-size: 12px;
      line-height: 18px;
      margin-left: 4px;
      color: $text-dark-50;
    }

    &__book-btn{
      margin-top: 22px;
    }
  }
}