.form-item-container {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__body {
    line-height: 20px;

    &--with-margin {
      padding-top: 5px;
    }
  }
  &__title{
    &--with-margin {
      margin-top: 3px;
    }
  }
  &__subtitle{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $text-dark-50;
  }
}