mixin form-item-container (props={})
  -
    const { title='default text', subtitle='', titleMargin = false, itemMargin = true} = props

    const titleClassObj = {
      'form-item-container__title--with-margin': titleMargin,
    }
    const bodyClassObj = {
      'form-item-container__body--with-margin': itemMargin,
    }

  .form-item-container
    .form-item-container__header
      h3(class=titleClassObj).form-item-container__title= title
      span.form-item-container__subtitle= subtitle
    div(class=bodyClassObj).form-item-container__body
      block
