include ./../../../input/input
mixin subscribe(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-subscribe-info
    .footer__grid-title
      span Подписка
    .footer__subscribe-text
      span Получайте специальные предложения и новости сервиса
    .footer__subscribe-input
      form(action="https://echo.htmlacademy.ru" method="post" name="subscribe")
        +input({placeholder: "Email", icon: "arrow_forward", href: "#"})&attributes({name: "Email"})