extends ../../layouts/ui-kit-layout
include ../../components/header/header
include ../../components/card-search-room/card-search-room
include ../../components/card-selected-room/card-selected-room
include ../../components/card-registration/card-registration
include ../../components/card-login/card-login
include ../../components/card-room/card-room
include ../../components/date-dropdown/date-dropdown

block head
  -const title = 'Cards'

block content
  -
    const {
      propsUiCardsSelectedRoom,
      propsUiCardsSearchRoom,
      propsUiCardsRegistration,
      propsUiCardsLogin,
      propsUiCardsCardRoom1,
      propsUiCardsCardRoom2,
    } = require('../../props/card-props');

  .ui-cards-page
    .ui-cards-page__container
      .ui-cards-page__header
        +header({type: 'ui-kit'})
      .ui-cards-page__wrapper
        .ui-cards-page__collumn
          +card-search-room(propsUiCardsSearchRoom)
          +card-registration(propsUiCardsRegistration)
        .ui-cards-page__collumn
          +card-selected-room(propsUiCardsSelectedRoom)
          +card-login(propsUiCardsLogin)
        .ui-cards-page__collumn
          .ui-cards-page__datepicker.js-datepicker
          .ui-cards-page__rooms
            +card-room(propsUiCardsCardRoom1)
          .ui-cards-page__rooms
            +card-room(propsUiCardsCardRoom2)



