include ../card/card
include ../input/input
include ../radio-button/radio-button
include ../form-item-container/form-item-container
include ../toggle-button/toggle-button
include ../button/button
mixin card-login(props={})
  -
    const {} = props

  .card-login
    +card()
      .card__title
        h1 Войти
      .card__container
        .card__form-element.card__form-element--with-long-margin
          +input({placeholder: "Email"})
        .card__form-element.card__form-element--with-long-margin
          +input({placeholder: "Пароль"})
      .card__container
        +button({text: "войти", type: "big", icon: "arrow_forward"})

      .card__container--with-long-margin
        .card-login__not-register
          span Нет аккаунта на Toxin?
          .card-login__register-btn
            +button({text: "Создать", type: "outlined", href: "/loginpage.kal"})
