.hamburger-menu{
  position: relative;
  height: 100%;

  &__label{}
  &__checkbox{
    height: 0;
    width: 0;
    position: absolute;
    &:focus{
      &+.hamburger-menu__line-container{
        outline: 1px black solid;
      }
    }
    &:checked{
      &~.hamburger-menu__line-container .hamburger-menu__single-line{
        &:nth-child(1){
          transform: translate(0,10px) rotate(45deg) ;
        }
        &:nth-child(2){
          opacity: 0
        }
        &:nth-child(3){
          transform: translate(0,-10px) rotate(-45deg);
        }

      }
    }
  }
  &__line-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__single-line{
    height: 4px;
    background-color: #c7c7cf;
    transition: all .2s linear;
  }
}