mixin hamburger(props={})
  - const {} = props

  .hamburger-menu
    label.hamburger-menu__label
      input(type='checkbox').hamburger-menu__checkbox.js-hamburgerCheckbox
      .hamburger-menu__line-container
        .hamburger-menu__single-line
        .hamburger-menu__single-line
        .hamburger-menu__single-line