include ../i-button/i-button

mixin price-list(props={})
  - const { items = [] } = props
  - const { numberWithSpaces } = require('../../utils/number-with-spaces');

  .price-list
    .price-list__items
      for item in items
        - let {title="owo", info=false, price=0} = item
        - const validPrice = numberWithSpaces(item.price);
        .price-list__item
          span.price-list__title= item.title
          span.price-list__info
            if (item.info)
                +i-button({text: item.info})
          span.price-list__price= `${validPrice} ₽`
