include ../i-button/i-button
include ../../mixins/numberWithSpaces
mixin price-list(props={})
  -
    const {items=[]} = props

  .price-list
    .price-list__items
      for item in items
        - let {title="owo", info=false, price=0} = item
        .price-list__item
          span.price-list__title= item.title
          span.price-list__info
            if (item.info)
                +i-button({title: item.info})
          span.price-list__price
            +numberWithSpaces({num: item.price})
            |₽
