@import "normalize.css";
@import "./fonts.scss";
@import "./variables.scss";
@import "./components.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-Montserrat;
  font-size: 14px;
  line-height: 24px;
  color: $text-dark-75;
}



