@font-face {
  font-family: 'MaterialIcons';
  src: url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.woff') format('woff'),
  url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome';
  src: url('../assets/fonts/Font-Awesome/Font-Awesome.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.woff') format('woff'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Quicksand/Quicksand-Regular.font.woff') format('woff'),
  url('../assets/fonts/Quicksand/Quicksand-Regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Monoserrat/Montserrat-Regular.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Monoserrat/Montserrat-Regular.font.woff') format('woff'),
  url('../assets/fonts/Monoserrat/Montserrat-Regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Monoserrat/Montserrat-Bold.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Monoserrat/Montserrat-Bold.font.woff') format('woff'),
  url('../assets/fonts/Monoserrat/Montserrat-Bold.font.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

.material-icons {
  font-family: 'MaterialIcons-Regular';
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;  /* Preferred icon size */
  display: inline-block;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}