@font-face {
  font-family: 'MaterialIcons-Regular';
  src: url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.woff') format('woff'),
  url('../assets/fonts/Material-icons/MaterialIcons-Regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome-Regular';
  src: url('../assets/fonts/Font-Awesome/Font-Awesome.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.woff') format('woff'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome-Regular';
  src: url('../assets/fonts/Quicksand/Quicksand-Regular.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Quicksand/Quicksand-Regular.font.woff') format('woff'),
  url('../assets/fonts/Quicksand/Quicksand-Regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome-Regular';
  src: url('../assets/fonts/Font-Awesome/Font-Awesome.font.ttf');
  src: local('☺'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.woff') format('woff'),
  url('../assets/fonts/Font-Awesome/Font-Awesome.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}