//Colors
$text-white: #fff;
$text-purple: #BC9CFF;
$text-dark-100: #1F2041;
$text-dark-75: rgba($text-dark-100, 0.75);
$text-dark-50: rgba($text-dark-100, 0.50);
$text-dark-25: rgba($text-dark-100, 0.25);
$text-dark-5: rgba($text-dark-100, 0.05);


$Green: #6FCF97;
$Purple: #BC9CFF;

$gradient-primary-default: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

$font-primary: 'Monoserrat-Regular', Arial, serif;
$font-secondary: 'Quicksand-Regular', 'Open Sans', Arial, serif;
