mixin radio-button(props={})
  -
    const {items=[], name="changeMe"} = props

  .radio-button
    for item in items
      label.radio-button__label
        input.radio-button__input(type="radio" name=name)
        span.radio-button__fake-input
        if (item.title)
          span.radio-button__title= item.title