.bullet-item {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: min-content 1fr;

  &__mark {
    margin-top: 3px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 7px;
    background-color: $text-dark-25;
  }
  &__title {
    display: inline-block;
    height: 24px;
  }
}