include ./types/register/register
include ./types/login/login
include ./types/find-room/find-room
include ./types/selected-room/selected-room
include ./types/room/room

mixin card(props={})
  -
    const {type='default', cardOptions={}} = props

  case type
    when "register"
      +register()
    when "login"
      +login()
    when "find-room"
      +find-room()
    when "selected-room"
      +selected-room(cardOptions)
    when "room"
      +room(cardOptions)
