mixin room-details(props={})
  -
    const {icon="", title="", subtitle=""} = props

  .room-details
    //.room-details__icon-wrapper
    i.room-details__icon.material-icons= icon
    .room-details__text-wrapper
      span.room-details__title= title
      span.room-details__subtitle= subtitle
