.room-details{
  margin: 0;

  &__single-item{
    display: grid;
    grid-template-columns: 48px 1fr;
    grid-gap: 10px;
    &:not(:last-child){
      padding-bottom: 20px;
    }
    &:not(:first-child){
      padding-top: 20px;
      border-top: 1px solid $text-dark-10;
    }
  }
  &__text-wrapper{
    display: inline-flex;
    flex-direction: column;
  }

  &__icon{
    line-height: 48px;
    font-size: 48px;
    background: $gradient-primary-default;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__title{
    font-family: $font-Montserrat;
    font-weight: bold;
  }
  &__subtitle{

  }

}