include ../../../input/input
include ../../../date-dropdown/date-dropdown
include ../../../guests-dropdown/guests-dropdown

mixin find-room(props={})
  -
    const {} = props

  .card.card--find-room
    .card__title
      h1 Найдём номера под ваши пожелания
    .card__container.card__container--with-20px-margin
      .card__input--primary-z-index
      +input({placeholder: "ДД.ММ.ГГГГ", icon: "expand_more", double: true, readonly: true, dropdown: true,})
        +date-dropdown()
    .card__container.card__container--with-20px-margin
      +form-item-container({title: "гости", shortTitleMargin: true})
        +input({placeholder: "Сколько гостей", icon: "expand_more", readonly: true, dropdown: true})
          +guest-dropdown()
    .card__container.card__container--with-30px-margin
      +button({text: "Подобрать номер", type: "big", icon: "arrow_forward", href: "/changeme.html"})