include ../input/input
include ../date-dropdown/date-dropdown
include ../guests-dropdown/guests-dropdown
include ../rooms-dropdown/rooms-dropdown

mixin card-search-room(props={})
  -
    const {} = props

  .card-search-room
    .card-search-room__title
      h1 Найдём номера под ваши пожелания
    form.card-search-room__form

      .card-search-room__form-section.card-search-room__form-section--with-date-dropdown
        .card-search-room__container.card-search-room__container--with-date-dropdown
          +date-dropdown({isRange: true})
            .card-search-room__container.card-search-room__container--with-date-dropdown-inputs
              +form-item-container({title: 'прибытие', shortTitleMargin: true})
                +input({placeholder: "ДД.ММ.ГГГГ", icon: "expand_more", readonly: false})
              +form-item-container({title: 'выезд', shortTitleMargin: true})
                +input({placeholder: "ДД.ММ.ГГГГ", icon: "expand_more", readonly: false})

      .card-search-room__form-section.card-search-room__form-section--with-guest-dropdown
        .card-search-room__container.card-search-room__container--with-guest-dropdown
          +guest-dropdown()
            .card-search-room__container.card-search-room__container--with-guest-dropdown-inputs
              +form-item-container({title: "гости", shortTitleMargin: true})
                +input({placeholder: "Сколько гостей", icon: "expand_more", readonly: true, dropdown: true})

      .card-search-room__form-section.card-search-room__form-section--with-find-room-btn
        +button({text: "Подобрать номер", type: "big", icon: "arrow_forward", href: "./search-room.html"})