mixin navigation(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-nav-info
    .footer__grid-title
      span Навигация
    ul.footer__link-list
      li.footer__link-item
        a(href='/404.html').footer__link О нас
      li.footer__link-item
        a(href='/404.html').footer__link Новости
      li.footer__link-item
        a(href='/404.html').footer__link Служба поддержки
      li.footer__link-item
        a(href='/404.html').footer__link Услуги