mixin navigation(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-nav-info
    .footer__grid-title
      span Навигация
    ul.footer__link-list
      li.footer__link-item О нас
      li.footer__link-item Новости
      li.footer__link-item Служба поддержки
      li.footer__link-item Услуги