@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat-regular.font.ttf') format('ttf'),
       url('./montserrat-regular.font.woff') format('woff'),
       url('./montserrat-regular.font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./montserrat-bold.font.ttf') format('ttf'),
       url('./montserrat-bold.font.woff') format('woff'),
       url('./montserrat-bold.font.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}