include ../logo/logo
include ../button/button
include ../hamburger/hamburger
include ./sections/nav-item/nav-item

mixin header(props={})
  -
    const {
      type = 'default',
      login = false,
      username = 'Анонимный пользователь',
    } = props
  - const { headerLinks, pagesLinks } = require('../../props/links')

  if type === 'ui-kit'
    header.header.header--ui-kit
      .header__wrapper
        .header__logo
          +logo({type: 'ui-kit', href: pagesLinks.index})

  if type === 'default'
    header.header.header--default.js-header
      .header__wrapper

        .header__logo
          +logo({type: 'default', href: pagesLinks.index})

        .header__container--hamburger
          +hamburger()

        nav.header__navigation.js-headerNavigation
          .header__nav-container
            ul.header__nav-list
              for navItem in headerLinks
                +nav-item(navItem)
            .header__nav-user
              if(login)
                .header__br
                .header__username
                  span= username
              else
                .header__nav-btn.header__nav-btn--with-login
                  +button({
                    type: 'outlined',
                    text: 'Войти',
                    href: pagesLinks.login,
                  })
                .header__nav-btn.header__nav-btn--with-register
                  +button({
                    type: 'default',
                    text: 'Зарегистрироваться',
                    href: pagesLinks.registration,
                  })