mixin carousel(props={})
  -
    let {items = []} = props
    if (items.length === 0) { items.push({src: "img/image-not-found.jpg", alt: "changeMe"}) }

  .carousel.js-carousel
    for item, index in items
      .carousel__item
        img.carousel__img(src=item.src, alt=item.alt)
