include ../base-dropdown/base-dropdown
mixin guest-dropdown(props={})
  - const { isOpen=false, defaultValue=[], windowListener=true, inputListener=true } = props

  div(data-value=defaultValue).guest-dropdown.js-guestDropdown
    +baseDropdown({ isOpen, windowListener, inputListener })
      block