mixin about-us(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-aboutUs-info
    .footer__grid-title
      span О нас
    ul.footer__link-list
      li.footer__link-item О сервисе
      li.footer__link-item Наша команда
      li.footer__link-item Вакансии
      li.footer__link-item Инвесторы