mixin about-us(props={})
  -const {} = props

  .footer__grid-item.footer__grid-item--with-aboutUs-info
    .footer__grid-title
      span О нас
    ul.footer__link-list
      li.footer__link-item
        a(href='/404.html').footer__link О сервисе
      li.footer__link-item
        a(href='/404.html').footer__link Наша команда
      li.footer__link-item
        a(href='/404.html').footer__link Вакансии
      li.footer__link-item
        a(href='/404.html').footer__link Инвесторы