@import '../../styles/variables.scss';

.base-dropdown {

  &__body {
    position: relative;
    width: 100%;
    z-index: 100;

    &--hidden {
      display: none;
    }
  }
  &__content {
    position: absolute;
    width: 100%;

    &--with-margin {
      margin-top: 5px;
    }
  }
}