extends ../../layouts/ui-kit-layout
include ../../components/header/header
include ../../components/title/title
include ../../components/color-palette/color-palette

block head
  -const title = 'Colors & type'

block content
  .ui-colors-type-page
    .ui-colors-type-page__header
      +header({type: "ui-kit"})

    .ui-colors-type-page__container--global
      .ui-colors-type-page__container--with-grid
        .ui-colors-type-page__container--with-colors
          +color-palette({hex: '#1F2041', name: 'Dark Shade 100%', customClass: 'dark-shade-100'})
          +color-palette({hex: '#1F2041', name: 'Dark Shade 75%', customClass: 'dark-shade-75'})
          +color-palette({hex: '#1F2041', name: 'Dark Shade 50%', customClass: 'dark-shade-50'})
          +color-palette({hex: '#1F2041', name: 'Dark Shade 25%', customClass: 'dark-shade-25'})
          +color-palette({hex: '#1F2041', name: 'Dark Shade 5%', customClass: 'dark-shade-5'})
          +color-palette({hex: '#BC9CFF', name: 'Purple', customClass: 'purple'})
          +color-palette({hex: '#6FCF97', name: 'Green', customClass: 'green'})

        .ui-colors-type-page__container--with-fonts
          .ui-colors-type-page__font-container.ui-colors-type-page__font-container--with-big-example
            .ui-colors-type-page__font-name.ui-colors-type-page__font-name--h1 H1
            +title({text: 'This one is the sub-section or widget title', level: 1})
          .ui-colors-type-page__font-container
            .ui-colors-type-page__font-name.ui-colors-type-page__font-name--h2 H2
            +title({text: 'Next one is the item title inside widgets', level: 2})
          .ui-colors-type-page__font-container
            .ui-colors-type-page__font-name.ui-colors-type-page__font-name--h3 H3
            +title({text: 'This is a label or CTA text', level: 3})
          .ui-colors-type-page__font-container.ui-colors-type-page__font-container--with-short-margin
            .ui-colors-type-page__font-name.ui-colors-type-page__font-name--body Body
            span.ui-colors-type-page__font-example This is the body text which is used for most of the design, like paragraphs, lists, etc.
