@import "../../styles/_main.scss";
.ui-colors-type-page {
  &__header {

  }
  &__container {
    &--global {
      margin: 0 auto;
      max-width: 1400px;
    }
    &--with-grid {
      display: flex;
      justify-content: space-between;
      padding: 37px 133px 145px 130px;
    }
    &--with-colors {
      width: 300px;
      background-color: white;
      display: grid;
      grid-row-gap: 20px;
    }
    &--with-fonts {
      display: grid;
      grid-auto-rows: min-content;
      grid-row-gap: 51px;
      width: 444px;
    }
  }
  &__font-container {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 30px;
  }
  &__font-name {
    min-width: 37px;
    text-align: right;
    
    &--h1 {
      font-size: 24px;
      line-height: 29px;
    }
    &--h2 {
      font-size: 19px;
      line-height: 23px;
    }
    &--h3 {
      font-size: 12px;
      line-height: 14.6px;
    }
    &--body {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__font-example {
    line-height: 24px;
    max-width: 312px;
  }
}