include ../input/input
include ../radio-button/radio-button
include ../form-item-container/form-item-container
include ../toggle-button/toggle-button
include ../button/button

mixin card-registration(props={})
  -
    const {} = props

  .card-registration
    .card-registration__title
      h1 Регистрация аккаунта
    form.card-registration__form

      .card-registration__form-section.card-registration__form-section--with-user-name
        .card-registration__container.card-registration__container--with-firstname
          +input({placeholder: "Имя"})
        .card-registration__container.card-registration__container--with-lastname
          +input({placeholder: "Фамилия"})
        .card-registration__container.card-registration__container--with-sex
          +radio-button({items: [{title: "Мужчина"}, {title: "Женщина"}]})

      .card-registration__form-section.card-registration__form-section--with-user-date
        .card-registration__container.card-registration__container--with-date
          +form-item-container({title: "дата рождения", shortTitleMargin: true})
              +input({placeholder: "ДД.ММ.ГГГГ", masked: true})

      .card-registration__form-section.card-registration__form-section--with-user-auth-data
        +form-item-container({title: "данные для входа в сервис", shortTitleMargin: true})
          .card-registration__container.card-registration__container--with-email
            +input({placeholder: "Email"})
          .card-registration__container.card-registration__container--with-password
            +input({placeholder: "Пароль"})
          .card-registration__container.card-registration__container--with-promo
            +toggle-button({title: "Получать спецпредложения"})

      .card-registration__form-section.card-registration__form-section--with-register-btn
        .card-registration__container.card-registration__container--with-register-btn
          +button({text: "Зарегистрироваться", type: "big", icon: "arrow_forward"})

      .card-registration__form-section.card-registration__form-section--with-already-registered
        .card-registration__container.card-registration__container--with-already-registered
          .card-registration__container.card-registration__container--with-already-have-account
            span Уже есть аккаунт на Toxin
          .card-registration__container.card-registration__container--with-login-btn
            +button({text: "Войти", type: "outlined", href: "./sign-in.html"})