include ../input/input
include ../title/title
include ../radio-button/radio-button
include ../form-item-container/form-item-container
include ../toggle-button/toggle-button
include ../button/button

mixin card-registration(props={})
  -const {} = props

  .card-registration
    .card-registration__title
      +title({text: 'Регистрация аккаунта', level: 1})
    form.card-registration__form

      .card-registration__form-section.card-registration__form-section--with-user-data
        .card-registration__firstname-wrapper
          +input({placeholder: "Имя"})
        .card-registration__lastname-wrapper
          +input({placeholder: "Фамилия"})
        .card-registration__sex-wrapper
          +radio-button({group: 'user-sex', value: 'Мужчина', title: 'Мужчина', checked: true})
          +radio-button({group: 'user-sex', value: 'Женщина', title: 'Женщина'})

      .card-registration__form-section.card-registration__form-section--with-birthday-data
        .card-registration__birthday-wrapper
          +form-item-container({title: "дата рождения", shortTitleMargin: true})
              +input({placeholder: "ДД.ММ.ГГГГ", masked: true})

      .card-registration__form-section.card-registration__form-section--with-acccount-data
        +form-item-container({title: "данные для входа в сервис", shortTitleMargin: true})
          .card-registration__grid-container.card-registration__grid-container--with-account-data
            .card-registration__email-wrapper
              +input({placeholder: "Email"})
            .card-registration__password-wrapper
              +input({placeholder: "Пароль"})
            .card-registration__promo-wrapper
              +toggle-button({title: "Получать спецпредложения"})

      .card-registration__form-section
        .card-registration__submit-wrapper
          +button({text: "Зарегистрироваться", type: "big", icon: "arrow_forward"})

    .card-registration__already-register-container
      span Уже есть аккаунт на Toxin
      .card-registration__login-btn
        +button({text: "Войти", type: "outlined", href: "./sign-in.html"})