include ../../../input/input
include ../../../radio-button/radio-button
include ../../../form-item-container/form-item-container
include ../../../toggle-button/toggle-button
include ../../../button/button

mixin register(props={})
  -
    const {} = props

  .card.card--register
    .card__title
      h1 Регистрация аккаунта
    .card__container.card__container--with-20px-margin
      .card__form-element.card__form-element--with-10px-margin
        +input({placeholder: "Имя"})
      .card__form-element.card__form-element--with-10px-margin
        +input({placeholder: "Фамилия"})
      .card__form-element.card__form-element--with-10px-margin
        .card__user-sex
          +radio-button({items: [{title: "Мужчина"}, {title: "Женщина"}]})

    .card__container.card__container--with-20px-margin
      +form-item-container({title: "дата рождения", shortTitleMargin: true})
        .card__form-element
          +input({placeholder: "ДД.ММ.ГГГГ", masked: true})

    .card__container.card__container--with-20px-margin
      +form-item-container({title: "данные для входа в сервис", shortTitleMargin: true})
        .card__form-element
          +input({placeholder: "Email"})
        .card__form-element.card__form-element--with-10px-margin
          +input({placeholder: "Пароль"})
        .card__form-element.card__form-element--with-10px-margin
          +toggle-button({title: "Получать спецпредложения"})

    .card__container.card__container--with-20px-margin
      +button({text: "перейти к оплате", type: "big", icon: "arrow_forward"})

    .card__container.card__container--with-30px-margin
      .card__already-register
        span Уже есть аккаунт на Toxin
        .card__login-btn
          +button({text: "Войти", type: "outlined", href: "/loginpage.kal"})