mixin total-price(props={})
  - const { value = 0, title = '' } = props
  -
    const {numberWithSpaces} = require('../../utils/number-with-spaces');
    const validPrice = numberWithSpaces(value);

  .total-price
    span.total-price__title= title
    span.total-price__dots
    span.total-price__value= `${validPrice} ₽`