include ../../mixins/numberWithSpaces
mixin total-price(props={})
  -
    const {value=0, title="Итого"} = props

  .total-price
    span.total-price__title= title
    span.total-price__dots
    span.total-price__value
      +numberWithSpaces({num: value})
      |₽