@import '../../styles/variables.scss';

.i-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  $this: &;

  &__button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $text-dark-25;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: $text-dark-25;
  }

  &__dropdown {
    top: 25px;
    background-color: white;
    position: absolute;
    display: none;
    min-width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $text-dark-25;
    box-sizing: border-box;
    z-index: 5;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &:hover {
    #{$this}__dropdown {
      display: block;
    }
  }
}