.card-selected-room{
  max-width: 380px;
  min-width: 300px;
  padding: 29px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__form{
    //margin-top: 24px;
  }
  &__title{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__form-section {
    &--with-date-dropdown {
      margin-top: 20px;
    }
    &--with-guest-dropdown {
      margin-top: 21px;
    }
    &--with-price {
      margin-top: 20px;
    }
    &--with-submit-btn {
      margin-top: 22px;
    }
  }
  &__container{
    &--with-date-dropdown {}
    &--with-date-dropdown-inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
    &--with-total-price {
      margin-top: 30px;
    }


    &--with-grid{
      display: grid;
      grid-gap: 10px;
    }
    &--with-z-index{
      position: relative;
      z-index: 15;
    }
    &--with-23px-margin{
      margin-top: 23px;
    }
    &--with-25px-margin{
      margin-top: 21px;
    }
    &--with-10px-margin{
      margin-top: 10px;
    }
    &--with-20px-margin{
      margin-top: 20px;
    }
    &--with-30px-margin{
      margin-top: 30px;
    }
  }




  &__form-element{
    &--with-10px-margin{
      margin-top: 10px;
    }
  }
  &__room-info{
    padding: 20px;
  }

  &__room-number-container{

  }
  &__room-price-container{

  }

  &__date-dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  &__room-number{
    display: inline-block;
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 29.26px;

    &:first-letter{
      font-size: 14px;
      line-height: 17.07px;
      letter-spacing: 4px;
    }
  }
  &__room-type{
    display: inline-block;
    margin-left: 8px;
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 14.63px;
    color: $text-purple;
    text-transform: uppercase;
  }

  &__price-sum{
    font-family: $font-Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $text-dark-50;
  }
  &__price-text{
    font-family: $font-Montserrat;
    font-size: 12px;
    line-height: 18px;
    margin-left: 4px;
    color: $text-dark-50;
  }

  &__book-btn{
    margin-top: 22px;
  }

}