@import "../../styles/_main.scss";

.ui-headers-footers-page {
  background-color: #E5E5E5;
  padding-bottom: 140px;

  &__container{
    margin-top: 32px;

    &--mini{
      max-width: 768px;
      margin: 20px auto 0 auto;
    }
  }

  &__section {
    &--with-default-header {}
    &--with-login-header {
      margin-top: 40px;
    }
    &--with-default-footer {
      margin-top: 40px;
    }
    &--with-mobile-footer {
      max-width: 768px;
      margin: 40px auto 0 auto;
    }
  }
}