mixin about-brand(props={})
  - const {} = props

  .footer__grid-item.footer__grid-item--with-brand-info
    .footer__brand-logo
      img(src="img/logo/logo-default.svg")
    .footer__brand-info
      span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»