include ../components/header/header
include ../components/footer/footer
doctype html
html(lang="ru")
  include ../components/head/head
  body.page.page--with-default-content
    .page__header
      +header()
    .page__content
      block content
    .page__footer
      +footer()