include ../base-dropdown/base-dropdown
mixin rooms-dropdown(props={})
  - const { isOpen = false, defaultValue = [], windowListener=true, inputListener=true } = props

  div(data-value=defaultValue).rooms-dropdown.js-roomsDropdown
    +baseDropdown({ isOpen, windowListener, inputListener })
      block