.dropdown-rooms{
  z-index: 10;
  padding: 6px 6px 14px 14px;
  box-sizing: border-box;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  border-top: none;
  border-bottom: 1px solid $text-dark-50;
  border-right: 1px solid $text-dark-50;
  border-left: 1px solid $text-dark-50;

  font-family: "Montserrat-Bold", sans-serif;
  font-size: 12px;

  &__type-container{
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--with-quake{
      animation: quake 0.5s linear;
    }
  }
  &__type-name{
    font-size: 12px;
    text-transform: uppercase;
  }
  &__btn-container{
    display: grid;
    grid-template-columns: 30px 28px 30px;
    grid-gap: 2px;
  }
  &__rooms-count{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__change-count-button{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid $text-dark-50;
    color: $text-dark-50;

    cursor: pointer;
    font-family: "Montserrat-Medium", sans-serif;

    &:hover{
      color: $text-dark-75;
      border: 1px solid $text-dark-75;
    }
    &:disabled{
      color: $text-dark-25;
      border: 1px solid $text-dark-25;
    }
  }
  &__actions{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}