include ../../../../mixins/siteMap
mixin copyright(props={})
  - const {} = props
  -
    const socials = [
      {title: "Twitter", href: "404.html", icon: ""},
      {title: "Facebook", href: "404.html", icon: ""},
      {title: "Instagram", href: "404.html", icon: ""},
    ]

  .footer__copyright-wrapper
    .footer__copyright-text
      span Copyright © 2018 Toxin отель. Все права защищены.
    .footer__copyright-socials
      for item in socials
        a(href=item.href target="_blank" rel="noopener noreferrer" title=item.title).footer__social-link
          span.footer__social-icon=item.icon