extends ../../layouts/ui-kit-layout
include ../../components/header/header
include ../../components/card-room/card-room
include ../../components/carousel/carousel
include ../../components/rate-button/rate-button
include ../../mixins/numberWithSpaces
include ../../components/input/input
include ../../components/form-item-container/form-item-container
include ../../components/date-dropdown/date-dropdown


block head
  -const title = 'testPage'

block content
  +header({ type: 'default' })
  .test
    .test__container
      +form-item-container({title: "text field", subtitle: "default", shortTitleMargin: true})
        +input({placeholder: 'Email'})



